body {
    text-align:center; 
    vertical-align:middle;
    background:#CCCCDD;
}
body {
    textalign:center; 
    verticalalign:middle;
    background:#CCCCDD;
}
table {
    textalign:center;
    verticalalign:middle;
}
table {
    text-align:center;
    vertical-align:middle;
}
